* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
}

.container {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
}

.img-container {
    width: 100%;
    height: 55%;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    text-align: center;
    font-size: 1.5rem;
}

.title {
    color: red;
}

button {
    padding: 10px 40px;
    font-size: 1rem;
    background-color: rgb(3, 75, 94);
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 1.4rem;
}